# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [13]:
city_data_df = pd.read_csv("../Output_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,matay,28.42,30.78,15.34,51,19,3.84,EG,1609519501
1,1,ushuaia,-54.80,-68.30,13.00,82,90,3.35,AR,1609519501
2,2,mahebourg,-20.41,57.70,25.00,78,40,5.70,MU,1609519501
3,3,nouadhibou,20.93,-17.03,25.00,33,0,7.70,MR,1609519203
4,4,bluff,-46.60,168.33,12.78,97,99,2.24,NZ,1609519501

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [14]:
gmaps.configure(api_key=g_key)

In [15]:
locations=city_data_df[["Lat", "Lng"]]
humidity=city_data_df["Humidity"]
fig=gmaps.figure()
heat_layer=gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=5)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [16]:
narrow_data=city_data_df.loc[(city_data_df["Max Temp"]<80) & (city_data_df["Max Temp"]>70)\
                            & (city_data_df["Wind Speed"]<10)\
                            & (city_data_df["Cloudiness"]==0)].dropna()
narrow_data

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
640,739,bobo dioulasso,11.18,-4.30,77.00,41,0,4.70,BF,1609532648
681,804,bonthe,7.53,-12.51,79.83,80,0,7.61,SL,1609532655
708,847,nguru,12.88,10.45,76.15,19,0,6.96,NG,1609532659
760,923,moussoro,13.64,16.49,78.03,17,0,8.84,TD,1609532667
812,997,nsanje,-16.92,35.26,75.76,90,0,4.27,MW,1609532673
835,1023,alice springs,-23.70,133.88,73.40,60,0,4.70,AU,1609532447
861,1057,bajil,15.06,43.29,75.90,65,0,6.08,YE,1609532678
870,1068,fontem,5.47,9.88,73.35,55,0,1.32,CM,1609532679

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [17]:
hotel_df=narrow_data[["City", "Country", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"]=""
hotel_df

               City Country    Lat     Lng Hotel Name
640  bobo dioulasso      BF  11.18   -4.30
681          bonthe      SL   7.53  -12.51
708           nguru      NG  12.88   10.45
760        moussoro      TD  13.64   16.49
812          nsanje      MW -16.92   35.26
835   alice springs      AU -23.70  133.88
861           bajil      YE  15.06   43.29
870          fontem      CM   5.47    9.88

In [20]:
params={
    "radius":5000,
    "types":"lodging",
    "key":g_key
}
for index, row in hotel_df.iterrows():
    lat=row["Lat"]
    lng=row["Lng"]
    params["location"]=f"{lat},{lng}"
    base_url="https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    name_address=requests.get(base_url, params=params)
    name_address=name_address.json()
    try:
        hotel_df.loc[index,"Hotel Name"]=name_address["results"][0]["name"]
    except(KeyError, IndexError):
        print("Not Found. Skipping")
hotel_df

               City Country    Lat     Lng                  Hotel Name
640  bobo dioulasso      BF  11.18   -4.30     Rasma Bed and Breakfast
681          bonthe      SL   7.53  -12.51      Bonthe Holiday Village
708           nguru      NG  12.88   10.45            Government Lodge
760        moussoro      TD  13.64   16.49  Pharmacie alnadja Moussoro
812          nsanje      MW -16.92   35.26      Nsanje Discovery Lodge
835   alice springs      AU -23.70  133.88  Desert Palms Alice Springs
861           bajil      YE  15.06   43.29       شبكة ماكس نت MAX WIFI
870          fontem      CM   5.47    9.88          Vista Palace Hotel

In [21]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [22]:
# Add marker layer ontop of heat map
marker_layer=gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
fig

# Display figure

Figure(layout=FigureLayout(height='420px'))